<h1>lists</h1>
<%= cl_image_tag("mk5xr4umm5rlng3bzzcn.jpg",
      width: 400, height: 300, crop: :fill) %>
<%= link_to 'Create a new list', new_list_path %>
<% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
<% end %>
<p>These are all the lists</p>
